
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,600,700");

body {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: #AAAEBD;
}

/* Nav bar & Hero Section */

/* Nav bar & Hero Section END */


/* Text & Laptop Section */

/* Text & Laptop Section END */


/* Slider & Code Snippet Section */

/* Slider & Code Snippet Section END */


/* Footer Section */

/* Footer Section END */