
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,500,600,700");

body {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Open Sans", "Helvetica", sans-serif;
    color: #AAAEBD;
}

/* Nav bar & Hero Section */

/* Nav bar & Hero Section END */


/* Text & Laptop Section */

/* Text & Laptop Section END */


/* Slider & Code Snippet Section */
.code-snippet-section {
    background-color: #1B2937;
    padding-top: 30px;
    padding-bottom: 30px;

}

.title-4 {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 10px;
    font-family: "brandon-grotesque", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.sub-text-4 {
    color: #AAAEBD;
    text-align: center;
}

.btn-code {
    background-color: #121822;
    color: white;
    text-align: center;
}

.active {
    color: #fff;
    background-color: #121822;
}

.btn-padding {
    padding-top: 10px;
    padding-bottom: 10px;   
}

.wrapper-4 {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.code {
    font-family: monospace, monospace;
    font-size: 14px;
    color: #bababa;
}

.code-padding-a {
    text-indent: 20px;
}

.code-padding-b {
    text-indent: 50px;
}

.code-padding-c {
    text-indent: 80px;
}

.code-padding-d {
    text-indent: 115px;
}

.code-padding-e {
    text-indent: 145px;
}

.code-padding-f1 {
    text-indent: 177px;
}

.code-padding-f {
    text-indent: 205px;
}

.code-string {
    color: #0FC696;
}

.code-title {
    color: #B7E244;
}

.code-params {
    color: #8491CC;
}

.code-keyword {
    color: #008480;
}

.code-number {
    color: #6896ba;
}
/* Slider & Code Snippet Section END */


/* Footer Section */

/* Footer Section END */